<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <title>Cadastro de Telefones</title>
</head>

<body>
    <h1 class="titulo-pagina">Cadastro de Telefone</h1>
    <a href="/" title="voltar" class="bt-voltar">voltar</a>
    <hr>

    <form name="cad_telefone" action="#" method="POST" class="form-cadastro">
        <label>Tipo do telefone:</label>
        <select name="tp_telefone">
            <option name="Residencial">Residencial</option>
            <option name="Comercial">Comercial</option>
            <option name="Celular">Celular</option>
            <option name="WhatsApp">WhatsApp</option>
        </select>
        <label>Número do Telefone:</label>
        <input type="text" name="num_telefone" onkeypress="mask(this, mphone);" autocomplete="off" required>
        <input type="submit" value="Cadastrar" class="bt-cadastrar">
    </form>

    <div class="container">
        <% if(listaTelefones.length> 0) { %>
            <h3>Lista de telefones cadastrados</h3>
            <table>
                <thead>
                    <tr>
                        <th>Tipo Telefone</th>
                        <th>Numero Telefone</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <% listaTelefones.forEach(function(telefone) { %>
                        <tr>
                            <td>
                                <%= telefone.tipo_telefone %>
                            </td>
                            <td>
                                <%= telefone.numero_telefone %>
                            </td>
                            <td><a
                                    href='/clientes/<%=telefone.clienteId%>/telefones/<%=telefone.id%>/deletar'>Excluir</a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>

            <% } else { %>
                <h2>
                    <%= 'Nenhum telefone cadastrado' %>
                </h2>
                <% } %>
    </div>
</body>
<script>
    function mask(o, f) {
        setTimeout(function () {
            var v = mphone(o.value);
            if (v != o.value) {
                o.value = v;
            }
        }, 1);
    }

    function mphone(v) {
        var r = v.replace(/\D/g, "");
        r = r.replace(/^0/, "");
        if (r.length > 10) {
            r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
        } else if (r.length > 5) {
            r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
        } else if (r.length > 2) {
            r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
        } else {
            r = r.replace(/^(\d*)/, "($1");
        }
        return r;
    }
</script>

</html>